@charset "utf-8";
/* CSS Document */

html, body, h1, form, fieldset, legend, ol, li {
    margin: 0;
    padding: 0;
}
body {
    background: #ffffff;
    color: #111111;
    font-family: Georgia, "Times New Roman", Times, serif;
    padding: 10px;
}

form#detail {
    background:#cccccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding-top:10px; 
    padding-left:80px; 
    padding-bottom:20px; 
    width: 450px;
    margin: auto;    
    border: 3px solid darkgrey;    
}

form#detail legend {
    color: #384313;
    font-size: 16px;
    font-weight: bold;
    padding-top:10px; 
    padding-bottom: 10px;
    text-shadow: 0 1px 1px #c0d576;
}

form#detail ol li {
    line-height: 20px;
    list-style: none;
    padding: 5px 5px;
    margin-bottom: 2px;
}
form#detail ol ol li {
    background: none;
    border: none;
    float: left;
}

form#detail label {
    float: left;
    font-size: 13px;
    width: 110px;
}


form#detail input:not([type=radio]),
form#detail textarea, form#detail select {
    background: #ffffff;
    border: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    font: italic 13px Georgia, "Times New Roman", Times, serif;
    outline: none;
    padding: 5px;
    width: 200px;
}

form#detail input:not([type=submit]):focus,
form#detail textarea:focus {
    background: #eaeaea;
}
form#detail input[type=radio] {
    float: left;
    margin-right: 5px;
}

form#detail button {
    background: #666;
    border: 1px solid #384313;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    color: #ffffff;
    display: block;
    font: 15px Georgia, "Times New Roman", Times, serif;
    letter-spacing: 1px;
    margin: auto;
    padding: 5px 20px;
    text-shadow: 0 1px 1px #000000;
    text-transform: uppercase;
    margin-top:20px;
}
form#detail button:hover {
    background:#333;
    cursor: pointer;
}
